@use 'algemeen' as *;




body {
  background-color: $color-dark;
  color: $color-text;
  font-family: 'Inter', sans-serif;
  font-size: 14px;

  .form {
    margin: 2rem auto 0 auto;
    width: 60%;
    padding: 10rem 0 10rem 0;
    border-radius: 1rem;

    .form_veld {
      display: flex;
      margin: 14px;

      input {
        width: 70%;
        margin: 0 auto;
      }
    }

  }

  .login {
    input {
      color: $color-text;
      border-radius: 0.25rem;
      padding: 16px;

      background-color: #363636;
    }
  }

  .arrow-left {
    display: block;
    margin: 30px 0 0 2rem;
    width: 25px;
    height: 25px;
    border-top: 4px solid $color-text;
    border-left: 4px solid $color-text;
    transform: rotate(-45deg);
  }

  .text_center {
    margin-top: 2rem;
    text-align: center;
  }
  a {
    color: $color-blue;
  }
}


.login input[type='submit'] {
  background-color: $color-blue;
  color: $color-dark;
  font-weight: 700;

}
